html{
    box-sizing: border-box;
    margin: 0px;
}
:root{
    --primary-color: #154A9A;
    --secondary-color:#E61C0E;
    --navbar-section-color:#86acdd;
    --button-color:#6bebcb;
    --footer-hover-color:#181D31;
    --dark-mode-color:#1e1e1e;
    --light-mode-color:#ffffff;
}
body{
    transition: .5s all ease;
}
.tracking-in-expand-forward-top{animation:tracking-in-expand-forward-top 1s linear both} @keyframes tracking-in-expand-forward-top{0%{letter-spacing:-.2em;transform:translateZ(-700px) translateY(-100px);opacity:0}40%{opacity:.6}100%{transform:translateZ(0) translateY(0);opacity:1}}

/* Light Mode Styles */
.light_mode{
    background-color: var(--light-mode-color);
    color: black;
}
.light_mode_text_shadow{
    text-shadow: 2px 2px 4px #585858;
}
.light_mode_section{
    background-color: var(--navbar-section-color);
    color: black;
}
.light_mode_title{
    color: var(--primary-color);
}
.light_mode_footer{
    background-color: var(--footer-hover-color);
    color: white;
}
.light_mode_boxshadow_card{
    box-shadow: 1px 1px 10px black;
}
/* Dark Mode Styles */
.dark_mode{
    background-color: var(--dark-mode-color);
    color: white;
}
.dark_mode_text_shadow{
    text-shadow: 2px 2px 4px #dfdddd;
}
.dark_mode_title{
    color:var(--navbar-section-color);
}
.dark_mode_section{
    background-color: var(--primary-color);
    color: white;
}
.dark_mode_section_servicios{
    background-color: var(--footer-hover-color);
    color: white;
}
.dark_mode_footer{
    background-color: #383838;
    color: white;
}
.dark_mode_offcanvas{
    background-color: #2e2e2e;
    color: white;
}
.dark_mode_boxshadow_card{
    box-shadow: 1px 1px 10px white;
}

/*------------General Styles------------*/

/* Header Styles */
.button_cita{
    position: fixed;
    right: 0;
    z-index: 10;
}
.button_cita button{
    background-color: var(--button-color);
    padding: 10px 50px;
    border:none;
    border-radius: 0px 0px 0px 10px;
}
.button_cita button p{
    padding-top: 5px;
    margin-bottom: 1px;
}
.iconresponsive{
    display: none;
}
.collapse{
    justify-content: space-evenly;
    font-weight: bold;
    align-items: center;
}
.linkmenu{
    margin: 0px 20px;
}
header h1{
    margin-left: 20px;
    margin-top: 20px;
    color: var(--primary-color);
}
header img{
    margin-top: 20px;
}
header div ul a{
    text-decoration: none;
    margin: 10px 0px;
    color: black;
    transition: 0.5s;
}
header div ul a:hover{
    color: var(--primary-color);
}
.header_DarkMode{
    justify-content: end;
    margin-top: 50px;
}
.header_logo{
    justify-content: space-between;
    margin-bottom: 15px;
}
.header_DarkMode label {
    width:80px;
    height:30px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
    cursor: pointer;
}
.header_DarkMode label:after {
    content: "";
    width:25px;
    height: 25px;
    position: absolute;
    top:2px;
    left:4px;
    background: linear-gradient(180deg,#6c789e,var(--footer-hover-color));
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}
.header_DarkMode input {
    width: 0;
    height: 0;
    visibility: hidden;
}
.header_DarkMode input:checked + label {
    background: #242424;
}
.header_DarkMode input:checked + label:after {
    left:75px;
    transform: translateX(-100%);
    background: linear-gradient(180deg,#777,#3a3a3a);
}
.header_DarkMode label, label:after {
    transition: 0.3s
}
.header_DarkMode label:active:after{ 
    width: 25px; 
}
.header_DarkMode p{
    margin: 0;
    padding-top: 25px;
    padding-right: 5px;
}
/* Inicio Styles */
.inicio{
    margin-top: 0px;
    height: 600px;
    text-align: center;
    color: white;
    background: linear-gradient(rgba(5,7,12,0.50),rgba(5,7,12,0.50),rgba(5,7,12,0.50),rgba(5,7,12,0.50),rgba(5,7,12,0.50),rgba(5,7,12,0.40), rgba(5,7,12,0.30),rgba(5,7,12,0.20)), url(./ImgCarrusel2.webp) no-repeat center center fixed;
    background-size: cover;
}
.inicio h1{
    color: white;
    font-size: 60px;
    animation: fadeIn 2s linear ;
    margin: 10px 10px;
}
.inicio p{
    animation: fadeIn 2s linear ;
    font-size: 20px;
    padding: 0 100px;

}

/* About Us Styles */
.aboutus{
    padding-top: 90px;
    padding-bottom: 90px;
}
.aboutus h1{
    margin-bottom: 60px;
}
.aboutus_text{
    align-items: center;
}
.aboutus_text div{
    margin: 0px 10px;
}
.aboutus_text h2{
    color: var(--secondary-color);
}
.aboutus p{
    text-align: justify;
}

/* Beneficios */
.servicios{
    padding-top: 50px;
    padding-bottom: 50px;
}
.servicios h1{
    margin-bottom: 40px;
}
.servicio-title{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0px;
}
.servicios .columna{
    padding:20px;
    border: 2px solid #8080804d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
}
.servicios .columna:hover{
    color: white;
    background-color: var(--footer-hover-color);
    transition: all 0.2s ease-in;
}

/* Servicios */
.service{
    padding: 80px 0px;
    text-align: center;
    
}
.service p{
    font-size: 20px;
}
.service_containers{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.service_containers .row div div{
    padding: 50px 20px;
    margin: 5px;
    border: #2e2e2e solid;
    border-radius: 20px;
    color: white;
    background: linear-gradient(40deg,#005C97,#363795 );
    transition: 0.5s;
}
.service_containers .row div div:hover{
    color: black;
    background: linear-gradient(40deg,#6190E8,#A7BFE8 );
    transition: 0.5s;

}
.service_containers h2{
    margin: 0;
    
}



/* Nuestras Sedes */
.nuestrassedes{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}
.nuestrassedes h1{
    font-size: 60px;
}
.nuestrassedes div div p{
    font-size: 20px;
}
.nuestrassedes .row{
    align-items: center;
    justify-content: center;
}
.card_sede{
    border: solid black 1px;
    margin: 5px;
    padding: 0px;
}
.card_sede img{
    width: 100%;
    height: 100%;
}

.card_sede h2{
    font-size: 24px;
    font-weight: bold;
    margin: 5px 0px;
}
.sede_button{
    padding: 5px 10px;
    margin: 10px 5px;
    border-radius: 10px;
    background-color: var(--button-color);
    box-shadow: 2px 4px 2px #242424;
    transition: 0.2s;
}
.sede_button a{
    color: black;
}
.sede_button:hover{
    transition: 0.2s;
    background-color: var(--primary-color);
}
.sede_button:hover a{
    color:white;
}





#sedeSJM, #sedeJM, #sedeSB{
    display: none;
}
.sedeSJM, .sedeJM, .sedeSB{
    margin: 100px 0px;
    padding: 100px 40px;
    border-radius: 50px;
    border: solid #585858;
    transition: 5s;
}
.sedeTitle{
    text-align: center;
    font-size: 30px;
}
.sedeTitle h1{
    font-size: 60px;
    margin-bottom: 50px;
}
.sedeBody{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.sedeContainer1 p, .sedeContainer2 p {
    font-size: 18px;
}

.mapresponsive{
   display: none; 
}
/*PRUEBA*/

/* Footer */
footer{
    min-height: 300px;
    background-color: #181D31;
    color: white;
}
footer p{
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
}
.container-icons a{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border:2px solid white;
    border-radius: 50%;
    transition: 0.2s all ease-in;
}
.container-icons i{
    color: white;
    font-size: 1.5rem;
    transition: 0.2s all ease-in;
}
.container-icons a:hover{
    background-color: white;
    border: 2px solid #181D31;
}
.container-icons a:hover i{
    color: #181D31;
}
.footer-rights{
    font-size: 15px;
    padding: 20px;
    color: #aeaeae;
    text-align: center;
}
.footer-rights p{
    font-size: 18px;
    margin: 5px;
    padding: 0;
}

/* Media Queries */
@media screen and (max-width: 992px){
    .NuestrasSedes h1{
        font-size: 50px;
    }
    .card_sede{
        margin: 10px 5px;
    }
    .NuestrasSedes .row{
        margin-left: 10px;
        margin-right: 10px;
    }
    .card_sede h2{
        font-size: 21px;
    }
}
@media screen and (max-width: 767px) {
    .aboutus_text{
        flex-direction: column;
    }
    .aboutus_text div{
        margin: 10px 0px;
        text-align: center;
    }
    .button_cita button{
        padding: 10px 20px;
    }
    
}
@media screen and (max-width: 576px){
    .AboutUs_text{
        flex-direction: column;
    }
    .iconresponsive{
        display: block;
        font-size: 30px;
    }
    .p-responsive{
        display: none;
    }
    .NuestrasSedes{
        margin:10px;
    }
    .map{
        display: none;
    }
    .mapresponsive{
        display: block; 
     }

}
@media screen and (max-width: 502px) {
    .header_DarkMode p{
        padding-right: 5px;
        padding-top: 15px;
        text-align: right;
    }
}